@import "./colors";

.menubar {
  background-color: $dblue;
  border-top: 1px solid $ldblue;
  max-width: 260px;
  height: 100%;
  flex: 0.3;
  color: $white;
  hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid $dblue;
  }

  .menubar__header {
    display: flex;
    border-bottom: 1px solid $ldblue;
    padding: 13px;
    padding-bottom: 10px;
    .createIcon {
      padding: 8px;
      color: $ldblue;
      font-size: 18px;
      background-color: $white;
      border-radius: 999px;
    }
  }
  .menubar__info {
    flex: 1;
    h2 {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 5px;
    }
    h3 {
      display: flex;
      align-items: center;
      font-size: 13px;
      font-weight: 400;
    }
    .statusIcon {
      font-size: 14px;
      margin-top: 1px;
      margin-right: 2px;
      color: $green;
    }
  }
}
